/* Inter Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /**
        @font family declaration
    */
    --mr-ff-body: 'Inter',
        sans-serif;
    /**
        @color declaration
    */
    --mr-pink: #F2599F;
    --mr-blue: #2EA4FC;
    --mr-main-bg: #EEF2FB;
    --mr-heading: #010101;
    --mr-active: #EDF4F6;
    --mr-active-1: #F6F9FA;
    --mr-white: #fff;
    --mr-black: #000;
    --mr-heading-primary: #000;
    --mr-text: #969598;
    --mr-theme-primary: #2EA4FC;
    /**
        @font weight declaration
    */
    --mr-fw-normal: normal;
    --mr-fw-elight: 200;
    --mr-fw-light: 300;
    --mr-fw-regular: 400;
    --mr-fw-medium: 500;
    --mr-fw-sbold: 600;
    --mr-fw-bold: 700;
    --mr-fw-ebold: 800;
    --mr-fw-black: 900;
    /**
        @font size declaration
    */
    --mr-fs-body: 18px;
    --mr-fs-p: 14px;
    --mr-fs-h1: 40px;
    --mr-fs-h2: 36px;
    --mr-fs-h3: 24px;
    --mr-fs-h4: 20px;
    --mr-fs-h5: 16px;
    --mr-fs-h6: 14px;
    --mr-fs-18: 18px;
}

.h-100vh {
    height: 100vh;
    padding: 50px 0;
}

.theme-bg {
    background-color: var(--mr-theme-primary);
}

.box-shadow-1 {
    box-shadow: 0 70px 85px rgb(0, 0, 0, 16%);
}

.box-shadow-2 {
    box-shadow: 0 0 99px rgb(0, 0, 0, 10%);
}

.box-shadow-3 {
    box-shadow: 0 3px 51px rgb(46, 164, 252, 52%);
}

.box-shadow-4 {
    box-shadow: 3px 0 64px rgb(0, 0, 0, 8%);
}


.theme-btn-1 {
    background: var(--mr-theme-primary);
    width: 250px;
    height: 78px;
    border-radius: 50px;
    font-size: var(--mr-fs-h3);
    font-weight: var(--mr-fw-medium);
    color: var(--mr-white);
}

/* Preloader  */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mr-theme-primary);
    z-index: 9999;
}

#loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--mf--male);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mt-6 {
    margin-top: 6rem;
}

.margin-bottom-300 {
    margin-bottom: 300px !important;
}

.h-600px {
    height: 600px !important;
}

/* Background color  */
.bg-gold {
    background-color: #FCC52E !important;
}

.bg-pink {
    background-color: var(--mr-pink);
}

.bg-blue {
    background-color: var(--mr-blue);
}